<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - AOMS</title>
    <link rel="icon" href="@Url.Content("~/Content/favicon.ico")" />
    <!-- BEGIN IMPORTANT! GLOBAL MANDATORY JAVASCRIPT -->
    <link href="@Url.Content("~/Content/kendo/2019.3.1023//kendo.common.min.css")" rel="stylesheet" type="text/css" id="style_color" />
    <link href="@Url.Content("~/Content/font-awesome-4.2.0/css/font-awesome.css")" rel="stylesheet" type="text/css" id="style_color" />
    <link href="@Url.Content("~/Content/kendo/2019.3.1023/kendo.bootstrap.min.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/akot/2018.1.1/Boostrap.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/akot/2018.1.1/akot.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/akot/2018.1.1/akot_responsive.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/akot/2018.1.1/toastr.css")" rel="stylesheet" />

    <script src="@Url.Content("~/Scripts/akot/spin.min.js")"></script>
    <script src="@Url.Content("~/Scripts/akot/spin.js")"></script>

    <script src="@Url.Content("~/Scripts/akot/jquery-1.11.0.min.js")"></script>
    <script src="@Url.Content("~/Scripts/akot/bootstrap.min.js")"></script>
    <script src="@Url.Content("~/Scripts/kendo/2019.3.1023//kendo.all.min.js")"></script>
    <script src="@Url.Content("~/Scripts/kendo/2019.3.1023//kendo.aspnetmvc.min.js")" )"></script>
    <script src="@Url.Content("~/Scripts/akot/jquery.slimscroll.min.js")"></script>
    <script src="@Url.Content("~/Scripts/akot/BootstrapFixed.js")"></script>
    <script src="@Url.Content("~/Scripts/akot/toastr.min.js")"></script>
    <script src="@Url.Content("~/Scripts/akot/UIMessage.js")"></script>
    <script src="@Url.Content("~/Scripts/akot/App.js")"></script>
    <script src="@Url.Content("~/Scripts/akot/is.js")"></script>
    <script src="@Url.Content("~/Scripts/akot/ifmis.js")"></script>
    <script src="@Url.Content("~/Scripts/akot/jszip.min.js")"></script>
</head>
<style>
     .liZmnb {
        -webkit-font-smoothing: antialiased;
        letter-spacing: 0px;
        font-style: normal;
        font-weight: 400;
        color: rgb(33, 33, 37);
        font-size: 16px;
        line-height: 24px;
    }

    .PvCIH {
        -webkit-font-smoothing: antialiased;
        letter-spacing: 0px;
        font-style: normal;
        font-weight: 400;
        color: #678a67;
        font-size: 16px;
        line-height: 24px;
    }

    .byexym:not(:last-of-type) {
        margin-bottom: 20px;
    }
    /*toast*/
    .aui-toast {
        background: rgba(0, 0, 0, 0.7);
        text-align: center;
        border-radius: 0.25rem;
        color: #ffffff;
        position: fixed;
        z-index: 1002;
        top: 45%;
        left: 50%;
        width: 9.5em;
        min-height: 6em;
        display: none;
    }

        .aui-toast .aui-iconfont {
            margin-top: 0.2rem;
            display: block;
            font-size: 2.6rem;
        }

    .aui-toast-content {
        margin: 0 0 0.75rem;
    }

    .bg-co {
        content: '';
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,0.3);
    }

    .aui-toast-loading {
        background-color: #ffffff;
        border-radius: 100%;
        margin: 0.75rem 0;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
        border: 2px solid #ffffff;
        border-bottom-color: transparent;
        height: 4.25rem;
        width: 4.25rem;
        background: transparent !important;
        display: inline-block;
        -webkit-animation: rotate 1s 0s linear infinite;
        animation: rotate 1s 0s linear infinite;
    }

    @@keyframes rotate {
        0% {
            -webkit-transform: rotate(0deg) scale(1);
            transform: rotate(0deg) scale(1);
        }

        50% {
            -webkit-transform: rotate(180deg) scale(1);
            transform: rotate(180deg) scale(1);
        }

        100% {
            -webkit-transform: rotate(360deg) scale(1);
            transform: rotate(360deg) scale(1);
        }
    }

    @@-webkit-keyframes rotate {
        0% {
            -webkit-transform: rotate(0deg) scale(1);
            transform: rotate(0deg) scale(1);
        }

        50% {
            -webkit-transform: rotate(180deg) scale(1);
            transform: rotate(180deg) scale(1);
        }

        100% {
            -webkit-transform: rotate(360deg) scale(1);
            transform: rotate(360deg) scale(1);
        }
    }
</style>

<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container" style="width:auto">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse">
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content" style="width:auto!important">
        <div class="section-body" style="padding-top:60px;">
            @RenderBody()
        </div>

        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Accounting Operation Management System</p>
        </footer>
    </div>

    <script src="@Url.Content("~/Scripts/akot/jquery.number.js")"></script>
    <script>

        var spinner;
        function startSpin() {
            $("#loadercenter").show()
        }

        function stopSpin() {
            $("#loadercenter").hide()
        }
    </script>
    <div id="loadercenter" class="aui-toast" style="display: none;margin-top: -48px;margin-left: -48px;">
        <div class="aui-toast-loading">
        </div>
        <div class="bg-co">
        </div>
        <div class="aui-toast-content" style="top:40px">Loading...</div>
    </div>
    @RenderSection("scripts", required: false)
</body>
</html>
