<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <meta charset="UTF-8">
    <style type="text/css">
            /*<![CDATA[*/
            
            div.html-root > ol, div.html-root > ul, div.html-root > p {
                margin-top: 0px;
            }

            .sheet .error {
                border: 1px solid red;
                color: red;
            }
            /* interactive page */
            .interactive-page .sheet {
                margin: 10px;
            }
            /* print preview page */
            .print-page {
                background-color: #ccc;
                top:10px;
            }

                .print-page > .sheet {
                    border: 2px solid darkblue;
                    /* centers the DIV horizontally */
                    margin-left: auto;
                    margin-right: auto;
                    margin-top: 10px;
                    margin-bottom: 10px;
                    -moz-box-shadow: 5px 5px 5px #888!important;
                    -webkit-box-shadow: 5px 5px 5px #888!important;
                    box-shadow: 5px 5px 5px #888;
                }

            .sheet .layers {
                position: absolute;
                width: 100%;
                height: 100%;
                left: 0px;
                top: 0px;
            }

            .sheet .action {
                cursor: pointer;
            }

            .sheet div.action:hover {
                border: 1px solid #ddd;
                /*
        -moz-box-shadow: 1px 1px 3px #888 inset
        -webkit-box-shadow: 1px 1px 3px #888 inset
        box-shadow: 1px 1px 3px #888 inset
        z-index: 99
        */
            }

            .sheet {
                position: relative;
                text-rendering: geometricPrecision;
            }

            .sheet {
                background-color: White;
            }

            
       #navbar {
      /*background-color: #333;*/
      position: fixed;
      top: 25px;
      left:10px;
      width: 40px;
      display: block;
        font-size: 8pt;
        font-family: Verdana;
        height: 40px;
        /*border: 1px solid #4f4f4f;*/
        z-index:500
}
       .btn {
  display: inline-block;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 6px 12px;
  font-size: 13px;
  line-height: 1.428571429;
  border-radius: 0px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
       .btn-success {
  color: #ffffff;
  background-color: #339933;
  border-color: #2d862d;

}
      .btn-success:hover,
.btn-success:focus,
.btn-success:active,
.btn-success.active,
.open .dropdown-toggle.btn-success {
  color: #ffffff;
  background-color: #297a29;
  border-color: #1d581d;
}

table {

    border-collapse:collapse;
    border:1px solid #000000;

      width:100%;
      max-width:615px;
}

        span {
            font-family:Arial;
        }
table td{
border:1px solid #000000;
}

table#tbl_signatory {
border:none;
      
}
table#tbl_signatory td {
  border: none;
}


/*]]>*/

/*table tr td p {
    padding : 0;
    margin : 0;
}*/  

/*#tbl_signatory tr td p {
    margin-bottom : 1em;
}*/

/*table   
{
  font-size:10pt;
  font-family:Arial;
  border:.5pt solid black;
    border-spacing:0!important;
  width:auto!important;
   width:auto!important
}*/
       
/*td {
  border: 1px solid black!important;
}*/

 /*table#tbl_signatory {
    border:0!important;
}
 table#tbl_signatory td {
  border: 1px solid black!important;
}*/

    </style>
    <link href="@Url.Content("~/Content/font-awesome-4.2.0/css/font-awesome.css")" rel="stylesheet" type="text/css" id="style_color" />
    @*<script src="@Url.Content("~/Scripts/akot/jquery-1.11.0.min.js")"></script>*@
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.5.0-beta4/html2canvas.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.5.3/jspdf.debug.js"></script>
    <link href="@Url.Content("~/Content/akot/2018.1.1/print.min.css")" rel="stylesheet" />
    <script src="@Url.Content("~/Scripts/akot/print.min.js")"></script>
    <link href="@Url.Content("~/Content/styleEditor.css")" rel="stylesheet" type="text/css" />
    
</head>
<body id="id_body" class="print-page" style="height:296.99966mm">
    <div class="sheet page1" style="padding-left:96px;padding-right:96px;padding-top:96px;padding-bottom:48px;width:15.9258cm;height:100%;">
        <div id="navbar">
            <button onclick="print_div()" type="button" class="btn btn-success"><i class="fa fa-print"></i> Print</button>
            @*<button id="yourButtonId"  type="button" class="btn btn-success"><i class="fa fa-pencil"></i> Sign via DGSign</button>*@
        </div>
        <div id="id_layer" class="layers">
            <div id="" class="htmlTextBox2 s1-" style="position:absolute;left:96px;top:96px;width:15.9258cm;height:280.19mm;">
                <div id="div_sheet" class="print" style="position:absolute;width:15.9258cm;overflow:visible;font-family:Arial;font-size:10pt">
                    @RenderBody()
                </div>                
        </div>

        </div>
    </div>
        <script>
            function print_div() {
                printJS({
                    printable: 'div_sheet',
                    type: 'html',
                    targetStyles: ['*']
                })
            }

          
        </script>
</body>
</html>
                    
