@using System.Data
@model DataSet
@{

    Layout = null;
}

<div class="col-lg-12">
    @if (Model.Tables[0].Rows.Count > 0)
    {
        <table class="table table-bordered table-striped table-responsive" cellpadding="0" cellspacing="0">
            <tr>
                <th class="text-left">Name</th>
                <th class="text-left">Particular</th>
                <th class="text-left">Amount</th>
            </tr>
            <tr>
                <th class="text-left">@ViewBag.claimantname</th>
                <th class="text-left">@ViewBag.Particular</th>
                <th class="text-right">@ViewBag.GAmount</th>
            </tr>
        </table>

                    <div class="row col-md-12" style="padding-top:5px"></div>
                    <table class="table table-bordered table-striped table-responsive" cellpadding="0" cellspacing="0">
                        <tr>
                            <th class="text-center">Date of Last Status</th>
                            @*<th class="text-center">Duration</th>*@
                            <th class="text-center">Transaction Status</th>
                            <th class="text-center">Location</th>
                        </tr>
                        @{
                            DateTime dte= DateTime.Now;
                            DateTime dte2;
                            double hours;
                            int x = 0;
                        }
                        @foreach (DataRow row in Model.Tables[0].Rows)
                        {
                            x = x + 1;
                            dte2 = Convert.ToDateTime(row["DTS"]);

                            hours =Math.Round(((dte - dte2).TotalHours),2);

                            <tr>
                                <td class="col-md-3">@row["DTS"]</td>
                                @*<td class="col-md-1" style="text-align:center">
                                    @hours
                                </td>*@
                                <td class="col-md-6">@row["status"]</td>
                                <td class="col-md-3">@row["LocationOffice"]</td>
                            </tr>
                            
                            dte = Convert.ToDateTime(row["DTS"]);
                        }
                        
                    </table>
    }
    else
    {
        <div>
            <h2>No Record Found(s)</h2>
        </div>
    }

</div>



