@using System.Data
@model DataSet
@{
    Layout =null;
}

<div class="container ">
    @if (Model.Tables[0].Rows.Count > 0)
    {
        <table class="table table-bordered table-striped table-responsive" cellpadding="0" cellspacing="0">
            <tr>
                <th class="text-left">Name</th>
                <th class="text-left">Particular</th>
                <th class="text-left">Amount</th>
            </tr>
            <tr>
                <th class="text-left">@ViewBag.claimantname</th>
                <th class="text-left">@ViewBag.Particular</th>
                <th class="text-right">@ViewBag.GAmount</th>
            </tr>
        </table>

        <div class="row col-md-12" style="padding-top:5px"></div>

        <table class="table table-bordered table-striped table-responsive" cellpadding="0" cellspacing="0">
            <tr>
                <th class="text-center">Date of Last Status</th>
                <th class="text-center">Transaction Status</th>
                <th class="text-center">Location</th>
            </tr>

            @foreach (DataRow row in Model.Tables[0].Rows)
            {
                <tr class="ant-timer">
                    <td class="col-md-4">@row["DTS"]</td>
                    <td class="col-md-6">@row["status"]</td>
                    <td class="col-md-2">@row["LocationOffice"]</td>
                </tr>
            }

        </table>    
        
    }
    else
    {
        <div>
            <h2>No Record Found(s)</h2>
        </div>
    }

</div>



