
@{
    ViewBag.Title = "_account_sub";
    Layout = null;
}
<div class="box" style="width:100%;margin-bottom:0px!important">
    <div class="box-body" >
        <form id="frm_logdetails">
            <input id="doc_form_id" name="doc_form_id" value="@ViewBag.doc_form_id" type="text" hidden/>

            <div class="PvCIH">
                <span data-lokalise="true" class="khIjp">
                    <span>Reference</span>
                </span>
            </div>
            <div class="byexym liZmnb">
                <input id="txt_refno" name="refno" value="@ViewBag.refno" type="text" disabled class="form-control k-input" />
            </div>
            <div class="PvCIH">
                <span data-lokalise="true" class="khIjp">
                    <span>Office Name</span>
                </span>
            </div>
            <script>
                function para_liaison (){

                    return { officeid: $("#officeId").data("kendoDropDownList").value() }
                }
                function load_phoneno() {
                    var Eid = this.value();
                    //alert(eid)
                    $.post('@Url.Action("Load_phoneno", "Document")',
                        {
                            eid: Eid
                        }, function (r) {
                            $("#txt_phoneno").val(r.phoneno);
                        }
                    )
                }
                function para_attach(){
                    return {doc_form_id:@ViewBag.doc_form_id}
                }
                function r_liaison(){
                    var r_l = $("#liaison_eid").data("kendoDropDownList")
                    r_l.dataSource.read();
                }
            </script>
            <div class="byexym liZmnb">
                @(Html.Kendo().DropDownList()
                    .Name("officeId")
                    .DataTextField("OfficeName")
                    .DataValueField("OfficeID")
                    .Filter("Contains")
                    .AutoBind(false)
                    .DataSource(source =>
                    {
                        source.Read(read =>
                        {
                            read.Action("DataSource_GetOffice", "Document");
                        });
                    })
                    .Events(e=> e.Change("r_liaison"))
                    .HtmlAttributes(new { style = "width: 100%" })
                )
            </div>
            
            <div class="PvCIH">
                <span data-lokalise="true" class="khIjp">
                    <span>Liaison Officer</span>
                </span>
            </div>
            <div class="byexym liZmnb">
               @(Html.Kendo().DropDownList()
                    .Name("liaison_eid")
                    .DataTextField("NameFML")
                    .DataValueField("eid")
                    .Filter("Contains")
                    .AutoBind(false)
                    .DataSource(source =>
                    {
                        source.Read(read =>
                        {
                            read.Action("DataSource_liaison", "Document").Data("para_liaison");
                        });
                    })
                    .Events(e=> e.Change("load_phoneno"))
                    .HtmlAttributes(new { style = "width: 100%" })
            )
            </div>


            <div class="PvCIH">
                <span data-lokalise="true" class="khIjp">
                    <span>Particular</span>
                </span>
            </div>
            <div class="byexym liZmnb">
                <textarea id="txt_particular"  name="particular" maxlength="2000" type="text" class="form-control k-input" rows="4">@ViewBag.particular</textarea>
            </div>

            <div class="col-md-6 no-padding">
                <div class="PvCIH">
                    <span data-lokalise="true" class="khIjp">
                        <span>Contact Number</span>
                    </span>
                </div>
                <div class="byexym liZmnb">
                    <input id="txt_phoneno" name="phoneno" value="@ViewBag.phoneno" type="text" class="form-control k-input" />
                </div>
            </div>
            <div class="col-md-1">
            </div>
            <div class="col-md-5 no-padding">
                <div class="PvCIH">
                    <span data-lokalise="true" class="khIjp">
                        <span>Gross Amount(Optional)</span>
                    </span>
                </div>
                <div class="byexym liZmnb">
                    <input id="txt_gamount" name="gamount" style="text-align:right" type="text" value="@ViewBag.gamount" class="form-control k-input" />
                </div>
            </div>
 
            <div class="col-md-12 no-padding">
                <div class="PvCIH">
                    <span data-lokalise="true" class="khIjp">
                        <span>Document List</span>
                    </span>
                </div>
                <div class="byexym liZmnb">
                    @(Html.Kendo().Grid<dynamic>()
                .Name("grid_attach_doc")
                .Columns(columns =>
                {
                columns.Bound("transactionType").Title("Tracking Reference").Format("{0:n2}").Width(230);
                columns.Template(@<text></text>)
                .Width(60)
                .HtmlAttributes(new { style = "text-align:left;font-size:10" })
                .ClientTemplate("<button data-toggle=\"tooltip\" data-placement=\"top\" type=\"button\" data-original-title=\"Edit tracking\" onclick=\"signDGSign(#=DVid#,#=report_id#)\" class=\"btn btn-xs btn-inverse btn-equal\" style=\"margin-right:2px\"><i class=\"fa fa-sign\"></i></button>  <button data-toggle=\"tooltip\" data-placement=\"top\" type=\"button\" data-original-title=\"Edit tracking\" onclick=\"load_dv(#=DVid#,#=report_id#,'',2026)\" class=\"btn btn-xs btn-inverse btn-equal\" style=\"margin-right:2px\"><i class=\"fa fa-pencil\"></i></button><button data-original-title=\"recompute\" type=\"button\" onclick=\"print_preview(#=DVid#,#=report_id#)\" class=\"btn btn-xs btn-inverse btn-equal\" style=\"margin-right:2px\"><i class=\"fa fa-print\"></i></button></button><button data-original-title=\"recompute\" type=\"button\" onclick=\"warn_delete_doc_attach(#=DVid#,'#=transactionType#',#=report_id#)\" class=\"btn btn-xs btn-danger btn-equal\" style=\"margin-right:2px\"><i class=\"fa fa-trash\"></i></button>");

                })
                .HtmlAttributes(new { style = "height: 100%!important;" })
                .DataSource(dataSource => dataSource
                    .Ajax()
                    .Read(read => read.Action("data_grid_attach_doc", "Document").Data("para_attach"))
        )
                    )
                    </div>
                </div>

        </form>        
    </div>
</div><script>
    var mg = new mgsInfo()
    function r_grid_attach_doc() {
        var grid = $("#grid_attach_doc").data("kendoGrid");
        grid.dataSource.read();
    }

    function signDGSign(doc_details_id,report_id)
    {
        startSpin()

        $.post('@Url.Action("SignViaDG", "DGSign")',
            { doc_details_id: doc_details_id,code:'@ViewBag.refno',reportid: report_id}
        , function(r) {
            if (r.code == 6)
            {
                stopSpin()
                toastr.success(r.statusName, 'System Message')
                Close_mdl_doc_form()
            }
            else
            {
                stopSpin()
                toastr.warning(r.statusName, 'System Message');
            }
        })
    }
    $(document).ready(function () {
        $("#officeId").data("kendoDropDownList").value(@ViewBag.officeid)
        $("#liaison_eid").data("kendoDropDownList").value(@ViewBag.liaison_eid)
        $("#grid_attach_doc .k-grid-header").css('display', 'none');
        $(function () {
            $('#txt_gamount').number(true, 2);

        });
        if (@ViewBag.isEdit == 1)
        {
            $("#btn_delete").show();
        }
        else
        {
            $("#btn_delete").hide();
        }
    })


    function btn_save_status_log() {
        startSpin()
        var frm = $("#frm_logdetails").serialize();
        $.post('@Url.Action("save_DocForm", "Document")',
            frm
        , function (r) {
            if (r.code == 6) {
                toastr.success(r.statusName, 'System Message')
                stopSpin()
                r_grid()
                //$("#mdl_newstatus").modal("hide");
                $("#txt_refno").val(r.refno)
                $("#doc_form_id").val(r.doc_form_id)
            }
            else {
                stopSpin()
                toastr.warning(r.statusName, 'System Message');
            }


        })
        .fail(function (jqXHR, textStatus, error) {
            stopSpin()
            mg.warning("" + textStatus + "")
        });
    }
    function warn_delete_doc_form(){
        // toastr.warning("Access denied..!", 'System Message');
        
        //$("#mdl_newstatus").removeClass("modal")
        $(".modal").addClass("zdex");
        mg.bsyesNoWithRemarks("Are you sure you want to delete the tracking reference <b>@ViewBag.refno?</b>", "delete_doc_form(@ViewBag.doc_form_id)")
    }

    function delete_doc_form(doc_form_id) {
        startSpin()
        remarks = $("#txt_remarks").val()
        var frm = $("#frm_logdetails").serialize();
        $.post('@Url.Action("delete_docform", "Document")',
            {doc_form_id:doc_form_id,remark:remarks,refno:'@ViewBag.refno'}
        , function (r) {
            if (r.code == 6) {
                toastr.success(r.statusName, 'System Message')
                stopSpin()
                r_grid()
                $("#mdl_newstatus").modal("hide");
                $('#modal_delete').modal('hide');

            }
            else {
                stopSpin()
                toastr.warning(r.statusName, 'System Message');
            }
            zdex()
        })
        .fail(function (jqXHR, textStatus, error) {
            stopSpin()
            	zdex()
            toastr.warning(textStatus + "\n" + jqXHR + "\n" + error, 'Error Deleting..');
        });
    }

    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    })
</script>
<script>
    function load_dv(id,document_type_id,title,year){
        //alert(document_type_id)
        if ($("#doc_form_id").val() > 0){
            $("#mdl_newstatus").addClass("zdex");
            add_attachment(@ViewBag.doc_form_id,id,document_type_id,title,year)
        }
        else
        {
            mg.warning("Save First before you can add the document")
        }
    }

    function add_attachment(doc_form_id,id,document_type_id,title,year) {
        startSpin()
        $.post('@Url.Action("_Add_attachment", "Document")', { doc_form_id: $("#doc_form_id").val(),document_type_id:document_type_id,id:id,year:year }
            , function (r) {
               // alert(r.code)
                if (r.code == 5) {
                    stopSpin()
                    mg.warning("" + r.statusName + "", "System Message")
                }
                else if (r.code == 8)
                {
                    window.open('https://192.168.101.56/dgsign/blank/getPDF_digital_only?pdfData=application/pdf&FormID='+r.statusName+'')
                }
                else {
                    $("#body_doc_form").html("")
                    var header = "Add new document";
                    stopSpin()
                    if (doc_form_id != 0) {
                        header = "Update "+title+" details"
                    }

                    if (doc_form_id ==15){
                        $("#mdl_doc_com").html(header);

                        $("#body_doc_com").html(r)
                        $("#mdl_doc_com ").modal("show");        
                    }
                    else
                    {
                        $("#h_doc_form_id").html(header);
                        $("#body_doc_form").html(r)
                        $("#mdl_doc_form").modal("show");
                    }
                }
            })
    }

    
    function print_preview(id,document_type_id) {
        //$("#mdl_doc_form").addClass("zdex");
        startSpin()
        $.post('@Url.Action("_print_priview", "Document")', { doc_form_id: @ViewBag.doc_form_id,document_type_id:document_type_id,id:id,refno:'@ViewBag.refno' }
            , function (r) {
                stopSpin()
            })
        .fail(function (jqXHR, textStatus, error) {
            stopSpin()
            mg.warning("" + textStatus + "")
        });
    }

    function warn_delete_doc_attach(doc_details_id,attachname,report_id){
        $(".modal").addClass("zdex");
        mg.bsyesNoWithRemarks("Are you sure you want to delete this attachment <b>"+attachname+"?</b>", "delete_doc_attach("+doc_details_id+","+report_id+")")
    }

    function delete_doc_attach(doc_details_id,report_id) {
        startSpin()
        remarks = $("#txt_remarks").val()
        $.post('@Url.Action("delete_doc_details", "Document")',
            {doc_details_id:doc_details_id,remark:remarks,report_id:report_id}
        , function (r) {
            if (r.code == 6) {
                toastr.success(r.statusName, 'System Message')
                stopSpin()
                r_grid_attach_doc();
                $('#modal_delete').modal('hide');
            }
            else {
                stopSpin()
                toastr.warning(r.statusName, 'System Message');
            }
            zdex()
        })
        .fail(function (jqXHR, textStatus, error) {
            stopSpin()
            zdex()
            toastr.warning(textStatus + "\n" + jqXHR + "\n" + error, 'Error Deleting..');
        });
    }


    function close_mdl_configure_logo(){
        $("#body_configure_logo").html("")
        $("#mdl_configure_logo").modal("hide");
    }
</script>

