
@{
    ViewBag.Title = "_account_sub";
    Layout = null;
}
<style>
    html, body {
        padding: 0;
        margin: 0;
        height: 100%;
        min-height: 100%;
    }

    body {
        box-sizing: border-box;
        font-size: 10pt;
        font-family: Arial;
        margin-top: -1px;
        padding: 5px .4em 0;
        word-wrap: break-word;
        -webkit-nbsp-mode: space;
        -webkit-line-break: after-white-space;
    }

    h1 {
        font-size: 2em;
        margin: .67em 0;
    }

    h2 {
        font-size: 1.5em;
    }

    h3 {
        font-size: 1.16em;
    }

    h4 {
        font-size: 1em;
    }

    h5 {
        font-size: .83em;
    }

    h6 {
        font-size: .7em;
    }

    p {
        margin: 0 0 1em;
    }

    .k-marker {
        display: none;
    }

    .k-paste-container, .Apple-style-span {
        position: absolute;
        left: -10000px;
        width: 1px;
        height: 1px;
        overflow: hidden;
    }

    ul, ol {
        padding-left: 2.5em;
    }

    span {
        -ms-high-contrast-adjust: none;
    }

    a {
        color: #00a;
    }

    code {
        font-size: 1.23em;
    }

    telerik\3Ascript {
        display: none;
    }

    .k-table {
        width: 100%;
        border-spacing: 0;
        margin: 0 0 1em;
    }

        .k-table td {
            min-width: 1px;
            padding: .2em .3em;
        }

        .k-table, .k-table td {
            outline: 0;
            border: 1px dotted #ccc;
        }

            .k-table p {
                margin: 0;
                padding: 0;
            }

    .k-column-resize-handle-wrapper {
        position: absolute;
        height: 10px;
        width: 10px;
        cursor: col-resize;
        z-index: 2;
    }

    .k-column-resize-handle {
        width: 100%;
        height: 100%;
    }

        .k-column-resize-handle > .k-column-resize-marker {
            width: 2px;
            height: 100%;
            margin: 0 auto;
            background-color: #00b0ff;
            display: none;
            opacity: 0.8;
        }

    .k-row-resize-handle-wrapper {
        position: absolute;
        cursor: row-resize;
        z-index: 2;
        width: 10px;
        height: 10px;
    }

    .k-row-resize-handle {
        display: table;
        width: 100%;
        height: 100%;
    }

    .k-row-resize-marker-wrapper {
        display: table-cell;
        height: 100%;
        width: 100%;
        margin: 0;
        padding: 0;
        vertical-align: middle;
    }

    .k-row-resize-marker {
        margin: 0;
        padding: 0;
        width: 100%;
        height: 2px;
        background-color: #00b0ff;
        opacity: 0.8;
        display: none;
    }

    .k-table-resize-handle-wrapper {
        position: absolute;
        background-color: #fff;
        border: 1px solid #000;
        z-index: 100;
        width: 5px;
        height: 5px;
    }

    .k-table-resize-handle {
        width: 100%;
        height: 100%;
    }

        .k-table-resize-handle.k-resize-east {
            cursor: e-resize;
        }

        .k-table-resize-handle.k-resize-north {
            cursor: n-resize;
        }

        .k-table-resize-handle.k-resize-northeast {
            cursor: ne-resize;
        }

        .k-table-resize-handle.k-resize-northwest {
            cursor: nw-resize;
        }

        .k-table-resize-handle.k-resize-south {
            cursor: s-resize;
        }

        .k-table-resize-handle.k-resize-southeast {
            cursor: se-resize;
        }

        .k-table-resize-handle.k-resize-southwest {
            cursor: sw-resize;
        }

        .k-table-resize-handle.k-resize-west {
            cursor: w-resize;
        }

    .k-table.k-table-resizing {
        opacity: 0.6;
    }

    k\:script {
        display: none;
    }
     #navbar {
      /*background-color: #333;*/
      position: fixed;
      top: 40px;
      right:-50px;
      width: 40px;
      display: block;
        font-size: 8pt;
        font-family: Verdana;
        height: 40px;
        /*border: 1px solid #4f4f4f;*/
        z-index:500
}
</style>


<div id="navbar">
    <button onclick="print_preview(@ViewBag.doc_details_id, @ViewBag.report_id)" type="button" class="btn btn-success"><i class="fa fa-print"></i> Preview</button>
</div>

<div id="div_details" class="box" style="width:100%;margin-bottom:0px!important">
    <div id="div_" class="box-body">
        @Html.Raw(ViewBag.script)
        <form id="frm_doc_details_value" style="min-width:15.9258cm">
            <input name="report_id" value="@ViewBag.report_id" type="text" hidden/>
            <input id="txt_doc_details_id" name="doc_details_id" value="@ViewBag.doc_details_id" type="text" hidden />
            <input name="doc_form_id" value="@ViewBag.doc_form_id" type="text" hidden />

            <input  id="txt_refno_sub" name="refno" type="text" hidden  />
            <input id="txt_officeid_sub" name="officeid" type="text" hidden />
            <input id="txt_particular_sub" name="particular" type="text" hidden />
            <div class="row">
                <script>
                    

                    function para_wfp(){
                        return {year:2023,officeid:$("#officeChargewfp").data("kendoDropDownList").value()}
                    }
                    function r_wfp(){
                        var r_l = $("#wpfAccount").data("kendoDropDownList")
                        r_l.dataSource.read();
                    }
                    
                    function loaded(){
                    stopSpin()
                    }
                   
                </script>
                <div class="form-group">
                    <label for="title">Office Charge:</label>
                    @(Html.Kendo().DropDownList()
                    .Name("officeChargewfp")
                    .DataTextField("OfficeName")
                    .DataValueField("OfficeID")
                    .Filter("Contains")
                    .AutoBind(false)
                    .DataSource(source =>
                    {
                        source.Read(read =>
                        {
                            read.Action("DataSource_GetOffice_fmis_pmis", "Document");
                        });
                    })
                    .Events(e=> e.Change("r_wfp"))
                    .HtmlAttributes(new { style = "width: 100%" })
                )
                </div>

                <div class="form-group">
                    <label for="title">WFP Account:</label>
                    @(Html.Kendo().DropDownList()
                    .Name("wpfAccount")
                    .DataTextField("wfp_description")
                    .DataValueField("wfp_description")
                    .Filter("Contains")
                    .AutoBind(false)
                    .DataSource(source =>
                    {
                        source.Read(read =>
                        {
                            read.Action("DataSource_GetWFP_details", "Document").Data("para_wfp");
                        });
                    })
                    .Events(e=> e.DataBound("loaded"))
                    .HtmlAttributes(new { style = "width: 100%" })
            )
                </div>
            </div>
            <div id="div_doc_content" class="row">
                <label for="title">Content</label>
                @Html.Raw(ViewBag.html)
            </div>
            <div class="row" style="padding-top:15px">
                <div class="col-md-6">
                    <label for="title">Recommending Approval:</label>
                    @(Html.Kendo().DropDownList()
                    .Name("recommendApproval")
                    .DataTextField("NameFML")
                    .DataValueField("eid")
                    .Filter("Contains")
                    .AutoBind(false)
                    .DataSource(source =>
                    {
                        source.Read(read =>
                        {
                            read.Action("DataSource_liaison", "Document").Data("para_liaison");
                        });
                    })
                    .HtmlAttributes(new { style = "width: 100%" })
            )
                </div>

                <div class="col-md-6">
                    <label for="title">Approved by:</label>
                    @(Html.Kendo().DropDownList()
                    .Name("SigApproved")
                    .DataTextField("NameFML")
                    .DataValueField("eid")
                    .Filter("Contains")
                    .AutoBind(false)
                    .DataSource(source =>
                    {
                        source.Read(read =>
                        {
                            read.Action("DataSource_liaison", "Document").Data("para_liaison");
                        });
                    })
                    .HtmlAttributes(new { style = "width: 100%" })
                    )
                    </div>

            </div>
        </form>
    </div>
</div>
<script>
    function btn_signDGSign(){
        startSpin()
        var txt_doc_details_id = $("#txt_doc_details_id").val()
        $.post('@Url.Action("SignViaDG", "DGSign")',
            {doc_details_id:txt_doc_details_id,code:$("#txt_refno,reportid").val(),reportid:@ViewBag.report_id}
        , function (r) {
            if (r.code == 6) {
                toastr.success(r.statusName, 'System Message')
            }
            else {
                stopSpin()
                toastr.warning(r.statusName, 'System Message');
            }
        })
    }
</script>
<script>

    var mg = new mgsInfo()

    function btn_save_dv() {
        startSpin()
        var frm = $("#frm_doc_details_value").serialize();
        $.post('@Url.Action("save_Doc_details", "Document")',
            frm
        , function (r) {
            if (r.code == 6) {
                toastr.success(r.statusName, 'System Message')
                $("#txt_doc_details_id").val(r.doc_details_id)
                stopSpin()
                r_grid_attach_doc()
                print_preview(@ViewBag.doc_details_id, @ViewBag.report_id)
            }
            else {
                stopSpin()
                toastr.warning(r.statusName, 'System Message');
            }
        })
        @*.fail(function (jqXHR, textStatus, error) {
            stopSpin()
            mg.warning("" + textStatus + "")
            print_preview(@ViewBag.doc_details_id, @ViewBag.report_id)
        });*@
    }
    $(document).ready(function () {
        startSpin()
        $("#txt_refno_sub").val($("#txt_refno").val())
        //$("#txt_officeid_sub").val($("#officeId").data("kendoDropDownList").value())
        $("#txt_particular_sub").val($("#txt_particular").val())

        $("#officeChargewfp").data("kendoDropDownList").value(@ViewBag.officeCharge)

        $("#recommendApproval").data("kendoDropDownList").value(@ViewBag.recommendingApprove)
        $("#SigApproved").data("kendoDropDownList").value(@ViewBag.approveby)
        r_wfp()
        setTimeout(function(){
            $("#wpfAccount").data("kendoDropDownList").value('@ViewBag.wfpAccount')
        },2000)

        r_grid_attach_doc();
    })

    function cofigure_logo() {
        startSpin()
        $.post('@Url.Action("_configure_logo", "Document")', {doc_details_id: $("#txt_doc_details_id").val()}
        , function (r) {
            $("#body_configure_logo").html(r)
            $("#mdl_configure_logo").modal("show");
            stopSpin();
        })
    }
        </script>
        <div class="modal" id="mdl_configure_logo" data-backdrop="static" data-keyboard="false" role="dialog" aria-hidden="true" style="display: none;z-index:9999;">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" aria-hidden="true" onclick="close_mdl_configure_logo()">x</button>
                        <h4 class="modal-title">Configure Document Logo</h4>
                    </div>
                    <div id="body_configure_logo" class="modal-body" style="height:auto!important">

                    </div>
                    <div class="modal-footer">
                        <button onclick="btn_save_custom_logo()" type="button" class="btn btn-success"><i class="fa fa-check"></i> Update Logo</button>
                        <button type="button" class="btn btn-default" onclick="close_mdl_configure_logo()" style="cursor:pointer">Close</button>
                    </div>
                </div>
            </div>
        </div>
    <div class="modal" id="m_change_picture" data-focus-on="input:first" data-backdrop="static" data-keyboard="false" role="dialog" aria-hidden="true" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title" id="simpleModalLabel">Change Picture</h4>
                </div>
                <div class="modal-body" style="min-height:370px">
                </div>
                <div class="modal-footer" style="margin:0px">
                    <a class="btn file-btn">
                        <span>Upload</span>
                        <input type="file" id="upload" value="Choose a file" accept="image/*">
                    </a>
                    <button id="btn_save_2file" type="button" class="btn btn-success"><i class="fa fa-save"></i> Save Changes</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>
