
@{
    ViewBag.Title = "_account_sub";
    Layout = null;
}
<div id="div_details" class="box" style="width:100%;margin-bottom:0px!important;padding-top:15px">
    <div class="box-body">
        <div class="row">
            <form id="frm_doc_logdetails">
                <div class="col-md-12 no-padding" style="padding-bottom:15px">
                    <label>Reference No</label>
                    <input id="txt_refno" name="refno" class="form-control" type="text" value="@ViewBag.refno" disabled />
                </div>
                <div class="col-md-6 no-padding" style="padding-bottom:15px">
                    <label>Budget Control Number</label>
                    <input id="txt_control_no" name="AlobsNo" class="form-control" type="text" value="@ViewBag.AlobsNo" />
                </div>
                <div class="col-md-6 no-padding" style="padding-bottom:15px">
                    <label>OBR No.</label>
                    <input id="txt_obrno" name="obrno" class="form-control" type="text" value="@ViewBag.OBRNo" />
                </div>
                <div class="col-md-12 no-padding" style="padding-bottom:15px">
                    <label>Office Charge</label>
                    @(Html.Kendo().DropDownList()
                        .Name("FMISOfficeID")
                        .DataTextField("OfficeMedium")
                        .DataValueField("FMISOfficeID")
                        .Filter("Contains")
                        .DataSource(source => source.Read(read => read.Action("GetOffices", "Document")))
                        .HtmlAttributes(new { style = "width: 100%" })
                    )
                </div>
                <div class="col-md-10 no-padding" style="padding-bottom:15px">
                    <label>Claimant Name</label>
                    <div class="input-group">
                        <input id="txt_claimant" type="text" class="form-control" value="@ViewBag.Name" disabled>
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button" onclick="browse_claimant()">
                                <i class="fa fa-group"></i>
                            </button>
                        </span>
                    </div>
                    <input id="txt_claimant_id" name="ClaimantCode" type="hidden" value="@ViewBag.ClaimantCode" />
                </div>
                <div class="col-md-2 no-padding">
                    <label>No. of Persons</label>
                    <input id="txt_doc_count_person" name="countperson" class="form-control" type="text" value="@ViewBag.countperson" />
                </div>
                <div class="col-md-12 no-padding" style="padding-bottom:15px">
                    <label>Particular</label>
                    <textarea id="txt_doc_particular" name="Particulars" class="form-control" rows="4">@ViewBag.Particular</textarea>
                </div>
                <div class="col-md-6 no-padding">
                    <label>Fund Type</label>
                    @(Html.Kendo().DropDownList()
                        .Name("FundType")
                        .DataTextField("FundType")
                        .DataValueField("FundType")
                        .Filter("Contains")
                        .DataSource(source => source.Read(read => read.Action("GetFundTypes", "Document")))
                        .HtmlAttributes(new { style = "width: 100%" })
                    )
                </div>
                <div class="col-md-2 no-padding">
                    <label>Allotment Class</label>
                    @(Html.Kendo().DropDownList()
                        .Name("OOE")
                        .DataTextField("OOE")
                        .DataValueField("OOE")
                        .Filter("Contains")
                        .DataSource(source => source.Read(read => read.Action("GetAllotmentClass", "Document")))
                        .HtmlAttributes(new { style = "width: 100%" })
                    )
                </div>
                <div class="col-md-4 no-padding">
                    <label>DV Amount</label>
                    <input id="txt_doc_gamount" name="GAmount" class="form-control" type="text" value="@ViewBag.GAmount" />
                </div>
            </form>
        </div>
    </div>
</div>
<script>
    function browse_claimant() {
        $.post('@Url.Action("_browse_claimant", "Document")', {}, function (r) {
            $("#body_browse_claimant").html(r);
            $("#mdl_browse_claimant").modal("show");
        });
    }

    $(document).ready(function () {
        $("#FMISOfficeID").data("kendoDropDownList").value(@ViewBag.FMISOfficeID);
        $("#FundType").data("kendoDropDownList").value(@ViewBag.FundType);
        $("#OOE").data("kendoDropDownList").value('@ViewBag.OOE');
    });
</script>

<div class="modal" id="mdl_browse_claimant" data-backdrop="static" data-keyboard="false" role="dialog" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true" onclick="close_browse_claimant()">x</button>
                <h4 class="modal-title">Browse Claimant</h4>
            </div>
            <div id="body_browse_claimant" class="modal-body" style="height:auto!important">

            </div>
            <div class="modal-footer">
                <button id="btn_add_claimant" style="display:none" onclick="add_claimant()" type="button" class="btn btn-success"><i class="fa fa-plus"></i> Add New</button>
                <button onclick="select_claimant()" type="button" class="btn btn-success"><i class="fa fa-check"></i> Select</button>
                <button type="button" class="btn btn-default" onclick="close_browse_claimant()" style="cursor:pointer">Close</button>
            </div>
        </div>
    </div>
</div>
<div class="modal" id="mdl_add_claimant" data-backdrop="static" data-keyboard="false" role="dialog" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true" onclick="close_browse_claimant()">x</button>
                <h4 class="modal-title">Browse Claimant</h4>
            </div>
            <div id="body_add_claimant" class="modal-body" style="height:auto!important">

            </div>
            <div class="modal-footer">
                <button onclick="btn_save_claimant()" type="button" class="btn btn-success"><i class="fa fa-check"></i> Save</button>
                <button type="button" class="btn btn-default" onclick="close_add_claimant()" style="cursor:pointer">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal" id="mdl_jev_entries" data-backdrop="static" data-keyboard="false" role="dialog" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" onclick="close_mdl_entries()" aria-hidden="true">X</button>
                <h4 id="h_subaccount_id" class="modal-title">Expense Details</h4>
            </div>
            <div id="body_details_grid" class="modal-body" style="height:auto!important">

            </div>
            <div class="modal-footer">
                <div class="col-md-12">
                    <div class="col-md-2">
                        <button onclick="close_mdl_entries()" type="button" class="btn btn-success"><i class="fa fa-backward"></i> Back</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>