
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .zdex {
  z-index: 500;
}
</style>
<div class="box">
    <div class="box-head" style="border-bottom:1px solid #e8e8e8">
        <header>
            <h4 class="text-bold">Review Document</h4>
        </header>
        <div class="tools">
            <div class="btn-group ">
                <a class="btn btn-equal btn-sm btn-refresh"><i class="fa fa-refresh"></i></a>
                <a class="btn btn-equal btn-sm btn-collapse"><i class="fa fa-angle-down"></i></a>
                <a class="btn btn-equal btn-sm btn-close"><i class="fa fa-times"></i></a>
            </div>
        </div>
    </div>
    <div class="box-body" style="padding-top:10px">
        <script>
            function para_coa (){
                return { IS_id: $("#dp_is_name").data("kendoDropDownList").value() } 
            }
            function r_grid() {
                var grid = $("#grid_tracking_form").data("kendoGrid");
                grid.dataSource.read();
            }
            function edit_logs() {

            }

        </script>
        <div class="row">
            <div class="col-lg-12 no-padding" style="padding-bottom:5px">
                <div class="col-md-4 no-padding">
                    @(Html.Kendo().DropDownList()
                    .Name("ddl_status")
                    .DataTextField("Name")
                    .DataValueField("ID")
                    .Filter("Contains")
                    .AutoBind(false)
                    .DataSource(source =>
                    {
                        source.Read(read =>
                        {
                            read.Action("ddl_log_staus_name", "Document");
                        });
                    })
                    .Events(e => e.Change("r_grid").Select("r_grid"))
                    .HtmlAttributes(new { style = "width: 100%" })
                    
                    )

                </div>

            </div>
        </div>
        <div class="row" hidden>
            <div class="col-md-4 no-padding">
                <div class="input-group" style="padding-bottom:5px!important">
                    <input id="txt_search_refno" type="text" class="form-control navbar-input" placeholder="Scan/Enter tracking reference">
                    <span class="input-group-btn">
                        <button class="btn btn-equal" type="button"><i class="fa fa-search"></i></button>
                    </span>
                </div>
            </div>
            
        </div>
      <script>
          function paraReview() {
              return { statusCode: $("#ddl_status").data("kendoDropDownList").value() }
          }
          
      </script>
        <div class="row">
            @(Html.Kendo().Grid<WebAOMS.Models.grid_reviewer_list>()
            .Name("grid_tracking_form")
            .Columns(columns =>
            {
            //columns.Bound(m => m.doc_form_id).Title("Transation No").Width(100);
            columns.Bound(m => m.refno).Title("Tracking Reference").Format("{0:n2}").Width(100);
            columns.Bound(m => m.OfficeName).Title("Office Name").Width(150);
            columns.Bound(m => m.Particular).Width(400);
            columns.Bound(m => m.InclusiveDate).Title("Inclusive Date").Width(100);

            columns.Bound(m => m.DTE).Title("Date").Width(150);
            columns.Template(@<text></text>)
            .Width(80)
            .HtmlAttributes(new { style = "text-align:left;font-size:10" })
            .ClientTemplate("<button data-original-title=\"recompute\" type=\"button\" onclick=\"log_document('#=refno#')\" class=\"btn btn-xs btn-inverse btn-equal\" style=\"margin-right:2px\"><i class=\"fa fa-list\"></i></button>");
            })
            .HtmlAttributes(new { style = "height: 350px;" })
            .Scrollable()
            .Sortable()
            .Pageable(pageable => pageable
            .Refresh(true)
            .ButtonCount(5))
            .DataSource(dataSource => dataSource
                .Ajax()
                .Read(read => read.Action("data_grid_tracking_list_review", "Document").Data("paraReview"))
                .PageSize(200)
            )
            )
        </div>
    </div>
</div>
<script>

    var mg = new mgsInfo()
    $('#txt_search_refno').on('keyup', function (e) {
        var refno = $('#txt_search_refno').val();
        var datalength_ = refno.length-10;
        if (e.keyCode == 13) {
            if (refno.length > 10)
            {
                refno = refno.substring(datalength_)
            }
            log_document(refno)
        }
    })

    function log_document(refno) {
        startSpin()
        $.post('@Url.Action("log_document", "Document")', { refno: refno }
            , function (r) {
                if (r.code == 5) {
                    stopSpin()
                    mg.warning("" + r.statusName + "", "System Message")
                }
                else {
                    var header = "Received Document";
                    stopSpin()
                    $("#h_newstatus_id").html(header);
                    $("#body_newstatus").html(r)
                    $("#mdl_newstatus").modal("show");
                }
            })
        .fail(function (jqXHR, textStatus, error) {
            stopSpin()
            mg.warning("" + textStatus + "")
        });
    }
</script>
@*<div class="box">
    <div class="box-head" style="border-bottom:1px solid #e8e8e8">
        <header>
            <h4 class="text-bold">Document that For Release</h4>
        </header>
        <div class="tools">
            <div class="btn-group ">
                <a class="btn btn-equal btn-sm btn-refresh"><i class="fa fa-refresh"></i></a>
                <a class="btn btn-equal btn-sm btn-collapse"><i class="fa fa-angle-down"></i></a>
                <a class="btn btn-equal btn-sm btn-close"><i class="fa fa-times"></i></a>
            </div>
        </div>
    </div>
    <div class="box-body" style="padding-top:10px">
        <script>

            function r_grid_released() {
                var grid = $("#grid_tracking_list_forrelease").data("kendoGrid");
                grid.dataSource.read();
            }
            function edit_logs() {

            }
        </script>

        <div class="row">
            @(Html.Kendo().Grid<WebAOMS.Models.ufn_grid_tracking_list_Result>()
            .Name("grid_tracking_list_forrelease")
            .Columns(columns =>
            {
            //columns.Bound(m => m.doc_form_id).Title("Transation No").Width(100);
            columns.Bound(m => m.refno).Title("Tracking Reference").Format("{0:n2}").Width(100);
            columns.Bound(m => m.OfficeName).Title("Office").Width(200);
            columns.Bound(m => m.NameFML).Title("Liaison Officer").Width(150);
            columns.Bound(m => m.Particular).Width(400);

            columns.Bound(m => m.DTE).Title("Date").Width(150);
            columns.Template(@<text></text>)
            .Width(80)
            .HtmlAttributes(new { style = "text-align:left;font-size:10" })
            .ClientTemplate("<button data-original-title=\"recompute\" type=\"button\" onclick=\"log_document('#=refno#')\" class=\"btn btn-xs btn-inverse btn-equal\" style=\"margin-right:2px\"><i class=\"fa fa-list\"></i></button>");
            })
            .HtmlAttributes(new { style = "height: 350px;" })
            .Scrollable()
            .Sortable()
            .Pageable(pageable => pageable
            .Refresh(true)
            .ButtonCount(5))
            .DataSource(dataSource => dataSource
                .Ajax()
                .Read(read => read.Action("data_grid_tracking_list_forRelease", "Document"))
                .PageSize(200)
            )
            )
        </div>
    </div>
</div>
<div class="box">
    <div class="box-head" style="border-bottom:1px solid #e8e8e8">
        <header>
            <h4 class="text-bold">Log Out Document</h4>
        </header>
        <div class="tools">
            <div class="btn-group ">
                <a class="btn btn-equal btn-sm btn-refresh"><i class="fa fa-refresh"></i></a>
                <a class="btn btn-equal btn-sm btn-collapse"><i class="fa fa-angle-down"></i></a>
                <a class="btn btn-equal btn-sm btn-close"><i class="fa fa-times"></i></a>
            </div>
        </div>
    </div>
    <div class="box-body" style="padding-top:10px">
        <script>

            function r_grid_out() {
                var grid = $("#grid_tracking_list_logout").data("kendoGrid");
                grid.dataSource.read();
            }
            function edit_logs() {

            }
        </script>

        <div class="row">
            @(Html.Kendo().Grid<WebAOMS.Models.ufn_grid_tracking_list_Result>()
            .Name("grid_tracking_list_logout")
            .Columns(columns =>
            {
            //columns.Bound(m => m.doc_form_id).Title("Transation No").Width(100);
            columns.Bound(m => m.refno).Title("Tracking Reference").Format("{0:n2}").Width(100);
            columns.Bound(m => m.OfficeName).Title("Office").Width(200);
            columns.Bound(m => m.NameFML).Title("Liaison Officer").Width(150);
            columns.Bound(m => m.Particular).Width(400);

            columns.Bound(m => m.DTE).Title("Date").Width(150);
            columns.Template(@<text></text>)
            .Width(80)
            .HtmlAttributes(new { style = "text-align:left;font-size:10" })
            .ClientTemplate("<button data-original-title=\"recompute\" type=\"button\" onclick=\"log_document('#=refno#')\" class=\"btn btn-xs btn-inverse btn-equal\" style=\"margin-right:2px\"><i class=\"fa fa-list\"></i></button>");
            })
            .HtmlAttributes(new { style = "height: 350px;" })
            .Scrollable()
            .Sortable()
            .Pageable(pageable => pageable
            .Refresh(true)
            .ButtonCount(5))
            .DataSource(dataSource => dataSource
                .Ajax()
                .Read(read => read.Action("data_grid_tracking_list_logout", "Document"))
                .PageSize(200)
            )
            )
        </div>
    </div>
</div>*@
<div class="modal" id="mdl_newstatus" data-backdrop="static" data-keyboard="false" role="dialog" aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-lg " style="min-width:1200px">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
                <h4 id="h_newstatus_id" class="modal-title">Update the Particular</h4>
            </div>
            <div id="body_newstatus" class="modal-body" style="height:auto!important">

            </div>
            <div class="modal-footer">
                
            </div>
        </div>
    </div>
</div>

