@model WebAOMS.Models.ChangePasswordViewModel
@{
    ViewBag.Title = "Change Password";
}

@*<h2>@ViewBag.Title.</h2>


    
    <h4>Change Password Form</h4>
    <hr />
    

    <div class="form-group">
        
        <div class="col-md-10">
            
        </div>
    </div>
    <div class="form-group">
        
        <div class="col-md-10">
            
        </div>
    </div>
    <div class="form-group">
       
        <div class="col-md-10">
            
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Change password" class="btn btn-default" />
        </div>
    </div>
}*@

<div class="box" style="max-width:350px">
    <div class="box-head" style="border-bottom:1px solid #e8e8e8">
        <header>
            <h4 class="text-bold">Change Password.</h4>
        </header>
    </div>
    <div class="box-body">
        <div class="ant-card-body">
@using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary("", new { @class = "text-danger" })
            <div class="PvCIH">
                <span data-lokalise="true" class="khIjp">
                    <span>Current password</span>
                </span>
            </div>
            <div class="byexym liZmnb">
                @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control" })
            </div>
            <div class="PvCIH">
                <span data-lokalise="true" class="khIjp">
                    <span>New password</span>
                </span>
            </div>
            <div class="byexym liZmnb">
                @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
            </div>
            <div class="PvCIH">
                <span data-lokalise="true" class="khIjp">
                    <span>Confirm new password</span>
                </span>
            </div>
            <div  class="byexym liZmnb">
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
            </div>
            <div class="form-group" >
                <div class="col-md-10">
                    <input type="submit" value="Change password" class="btn btn-default" />
                </div>
            </div>
}
        </div>
    </div>

</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}